
.card.otm { background-color: lightyellow; }

.card.c1 { background-color: lightcoral; }
.card.c2 { background-color: lightgreen; }
.card.c3 { background-color: lightblue; }
.card.c4 { background-color: lightyellow; }
.card.c5 { background-color: lightsalmon; }
.card.c6 { background-color: lightgoldenrodyellow; }
.card.c7 { background-color: lightskyblue; }
.card.c8 { background-color: lightseagreen; }
.card.c9 { background-color: lightsteelblue; }
.card.c10 { background-color: lightcyan; }